body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  background-color: red;
}

p {
  text-align: center;
}
